In [2]:
!pip install -q -U datasets

WARNING: Ignoring invalid distribution -pencv-python (c:\users\recep\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\recep\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python (c:\users\recep\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\recep\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python (c:\users\recep\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\recep\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python (c:\users\recep\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\recep\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python (c:\users\recep\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\recep\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python (c:\users\recep\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\recep\anaconda3\lib\site-packages)

In [4]:
from transformers import AutoModelWithLMHead, AutoTokenizer
from datasets import load_dataset
import random, warnings
warnings.filterwarnings("ignore")

In [7]:
tokenizer = AutoTokenizer.from_pretrained("mrm8488/t5-base-finetuned-wikiSQL")
model = AutoModelWithLMHead.from_pretrained("mrm8488/t5-base-finetuned-wikiSQL")

The `xla_device` argument has been deprecated in v4.4.0 of Transformers. It is ignored and you can safely remove it from your `config.json` file.
The `xla_device` argument has been deprecated in v4.4.0 of Transformers. It is ignored and you can safely remove it from your `config.json` file.
The `xla_device` argument has been deprecated in v4.4.0 of Transformers. It is ignored and you can safely remove it from your `config.json` file.
The `xla_device` argument has been deprecated in v4.4.0 of Transformers. It is ignored and you can safely remove it from your `config.json` file.

Downloading:   0%|          | 0.00/1.19G [00:00<?, ?B/s]

In [8]:
def get_sql(query):
    
    input_text = "translate English to SQL: %s </s>" % query
    
    features = tokenizer([input_text], return_tensors='pt')

    output = model.generate(input_ids=features['input_ids'], 
               attention_mask=features['attention_mask'])

    return tokenizer.decode(output[0])

In [9]:
valid_dataset = load_dataset('wikisql', split='validation')

Found cached dataset wikisql (C:/Users/Recep/.cache/huggingface/datasets/wikisql/default/0.1.0/7037bfe6a42b1ca2b6ac3ccacba5253b1825d31379e9cc626fc79a620977252d)

In [10]:
valid_dataset[0]

{'phase': 1,
 'question': 'What position does the player who played for butler cc (ks) play?',
 'table': {'header': ['Player',
   'No.',
   'Nationality',
   'Position',
   'Years in Toronto',
   'School/Club Team'],
  'page_title': 'Toronto Raptors all-time roster',
  'page_id': '',
  'types': ['text', 'text', 'text', 'text', 'text', 'text'],
  'id': '1-10015132-11',
  'section_title': 'L',
  'caption': 'L',
  'rows': [['Antonio Lang',
    '21',
    'United States',
    'Guard-Forward',
    '1999-2000',
    'Duke'],
   ['Voshon Lenard', '2', 'United States', 'Guard', '2002-03', 'Minnesota'],
   ['Martin Lewis',
    '32, 44',
    'United States',
    'Guard-Forward',
    '1996-97',
    'Butler CC (KS)'],
   ['Brad Lohaus', '33', 'United States', 'Forward-Center', '1996', 'Iowa'],
   ['Art Long',
    '42',
    'United States',
    'Forward-Center',
    '2002-03',
    'Cincinnati'],
   ['John Long', '25', 'United States', 'Guard', '1996-97', 'Detroit'],
   ['Kyle Lowry', '3', 'United States', 'Guard', '2012-Present', 'Villanova']],
  'name': 'table_10015132_11'},
 'sql': {'human_readable': 'SELECT Position FROM table WHERE School/Club Team = Butler CC (KS)',
  'sel': 3,
  'agg': 0,
  'conds': {'column_index': [5],
   'operator_index': [0],
   'condition': ['Butler CC (KS)']}}}

In [11]:
for idx in random.sample(range(len(valid_dataset)), 250):
    print(f"Text: {valid_dataset[idx]['question']}")
    print(f"Pred SQL: {get_sql(valid_dataset[idx]['question'])}")
    print(f"True SQL: {valid_dataset[idx]['sql']['human_readable']}\n")

Text: Which martial arts style was shown in Rio de Janeiro?
Pred SQL: <pad> SELECT Martial arts FROM table WHERE Location = rio de
True SQL: SELECT Martial Art/Style FROM table WHERE City = Rio de Janeiro

Text: When nac breda came in third place and psv eindhoven was the winner who is the top scorer?
Pred SQL: <pad> SELECT Top Scorer FROM table WHERE Winner = psv eind
True SQL: SELECT Top scorer FROM table WHERE Winner = PSV Eindhoven AND Third Place = NAC Breda

Text: Who is the opponent with a score of 6–5 13?
Pred SQL: <pad> SELECT Opponent FROM table WHERE Score = 6–5 13</s>
True SQL: SELECT Opponent FROM table WHERE Score = 6–5 13

Text: What is the lowest total when the rank is 14 and the gold medals is larger than 0?
Pred SQL: <pad> SELECT MIN Total FROM table WHERE Rank = 14 AND Gold >
True SQL: SELECT MIN Total FROM table WHERE Rank = 14 AND Gold > 0

Text: Name the chassis of 1961
Pred SQL: <pad> SELECT Chassis FROM table WHERE Year = 1961</s>
True SQL: SELECT Chassis FROM table WHERE Year = 1961

Text: Which song was released 12/8/70 with a time of 2:54?
Pred SQL: <pad> SELECT Song FROM table WHERE Release date = 12/8/70 AND Time =
True SQL: SELECT Song Title FROM table WHERE Release Date = 12/8/70 AND Time = 2:54

Text: Who was the winning constructor at the circuit of parioli?
Pred SQL: <pad> SELECT Winning constructor FROM table WHERE Circuit = parioli</s>
True SQL: SELECT Winning constructor FROM table WHERE Circuit = parioli

Text: Who is the main contestant with scores by each individual judge of 8 + 7 + 7 = 21?
Pred SQL: <pad> SELECT Main contestant FROM table WHERE Scores by each individual judge = 8
True SQL: SELECT Main contestant FROM table WHERE Scores by each individual judge = 8 + 7 + 7 = 21

Text: Which Network has 17.5 million Viewers?
Pred SQL: <pad> SELECT Network FROM table WHERE Viewers (in millions) = 17.5</s>
True SQL: SELECT Network FROM table WHERE Viewers = 17.5 million

Text: Name the total number of fin pos for 12 points of accident
Pred SQL: <pad> SELECT COUNT Fin Pos FROM table WHERE Points = 12</s>
True SQL: SELECT COUNT Fin. Pos FROM table WHERE Points = 12 AND Time/Retired = Accident

Text: who is the trofeo fast team in stage 10?
Pred SQL: <pad> SELECT Trofeo Fast Team FROM table WHERE Stage = 10</s>
True SQL: SELECT Trofeo Fast Team FROM table WHERE Stage = 10

Text: Name the date successor seated is south carolina 3rd
Pred SQL: <pad> SELECT Date successor seated FROM table WHERE District = South Carolina 3rd
True SQL: SELECT Date successor seated FROM table WHERE District = South Carolina 3rd

Text: What is the time/retired for the rider with the manufacturuer yamaha, grod of 1 and 21 total laps?
Pred SQL: <pad> SELECT Time/Retired FROM table WHERE Manufacturer = yamaha AND
True SQL: SELECT Time/Retired FROM table WHERE Laps = 21 AND Manufacturer = yamaha AND Grid = 1

Text: What is the group B region with a Group E region of Georgia?
Pred SQL: <pad> SELECT Group B Region FROM table WHERE Group E Region = georgia
True SQL: SELECT Group B FROM table WHERE Group E = georgia

Text: what's the computing mechanbeingm with first operational being february 1944
Pred SQL: <pad> SELECT Computing mechanbeing FROM table WHERE First operational = February 1944</s>
True SQL: SELECT Computing mechanism FROM table WHERE First operational = February 1944

Text: If 4 went to iran and the amount that survived was less than 12.0 how many were there in 1990?
Pred SQL: <pad> SELECT COUNT 1990 FROM table WHERE Survived <unk> 12.0
True SQL: SELECT COUNT 1990 FROM table WHERE to Iran = 4 AND survived < 12.0

Text: What is the ab ripper x when exercise is x stretch?
Pred SQL: <pad> SELECT Abripper x FROM table WHERE Exercise = x stretch</s>
True SQL: SELECT Ab Ripper X FROM table WHERE Exercise = X Stretch

Text: What is the average grid for the competitiors who had laps smaller than 3?
Pred SQL: <pad> SELECT AVG Grid FROM table WHERE Laps <unk> 3</s>
True SQL: SELECT AVG Grid FROM table WHERE Laps < 3

Text: What is the Enterprise for teh memory modules: hot replacement Feature that has a Datacenter of Yes?
Pred SQL: <pad> SELECT Enterprise FROM table WHERE Datacenter = yes AND Feature = memory modules
True SQL: SELECT Enterprise FROM table WHERE Datacenter = yes AND Features = memory modules: hot replacement

Text: What is the quantity of the item with the numbers of 29-36?
Pred SQL: <pad> SELECT Quantity FROM table WHERE Numbers = 29-36</s>
True SQL: SELECT AVG Quantity FROM table WHERE Numbers = 29-36

Text: What is the 2.15 for Tom Parsons?
Pred SQL: <pad> SELECT 2.15 FROM table WHERE Player = tom parsons</s>
True SQL: SELECT 2.15 FROM table WHERE Athlete = tom parsons

Text: What was the highest Tie no when the home team was the Bolton Wanderers, and the date was Middlesbrough?
Pred SQL: <pad> SELECT MAX Tie no FROM table WHERE Home team = bolton wander
True SQL: SELECT MAX Tie no FROM table WHERE Home team = bolton wanderers AND Date = middlesbrough

Text: What is the minimum PA when ends lost is 45?
Pred SQL: <pad> SELECT MIN PA FROM table WHERE Ends Lost = 45</s>
True SQL: SELECT MIN PA FROM table WHERE Ends Lost = 45

Text: What is the result for director Said Elmarouk before 2008?
Pred SQL: <pad> SELECT Result FROM table WHERE Year <unk> 2008 AND Director = s
True SQL: SELECT Result FROM table WHERE Director = said elmarouk AND Year < 2008

Text: What is the sum of Year 2007(s), when the Year 2005 is greater than 29,377?
Pred SQL: <pad> SELECT SUM Year 2007 FROM table WHERE Year 2005 > 29,377</s>
True SQL: SELECT SUM Year 2007 FROM table WHERE Year 2005 > 29,377

Text: Who was the lead with John Shuster as skip in the season of 2009–10?
Pred SQL: <pad> SELECT Lead FROM table WHERE Skip = john shuster AND Season =
True SQL: SELECT Lead FROM table WHERE Skip = john shuster AND Season = 2009–10

Text: What was the total purse in the years after 1996 with a score of 272 (-16) when frank nobilo won?
Pred SQL: <pad> SELECT SUM Purse ( $ ) FROM table WHERE Year >
True SQL: SELECT SUM Purse ( $ ) FROM table WHERE Score = 272 (-16) AND Winner = frank nobilo AND Year > 1996

Text: What is the lowest capacity for 1903?
Pred SQL: <pad> SELECT MIN Capacity FROM table WHERE Year = 1903</s>
True SQL: SELECT MIN Capacity FROM table WHERE Year opened = 1903

Text: What is the sum of top-10s for events with more than 0 wins?
Pred SQL: <pad> SELECT SUM Top-10 FROM table WHERE Wins > 0</s>
True SQL: SELECT SUM Top-10 FROM table WHERE Wins > 0

Text: Which opponent has a loss of wells (1-3)?
Pred SQL: <pad> SELECT Opponent FROM table WHERE Loss = wells (1-3)</s>
True SQL: SELECT Opponent FROM table WHERE Loss = wells (1-3)

Text: Which Venue has a Competition of pl group b, and a Score of 2-2?
Pred SQL: <pad> SELECT Venue FROM table WHERE Competition = pl group b AND Score =
True SQL: SELECT Venue FROM table WHERE Competition = pl group b AND Score = 2-2

Text: What Country has a Career of 1989–2004?
Pred SQL: <pad> SELECT Country FROM table WHERE Career = 1989–2004</s>
True SQL: SELECT Country FROM table WHERE Career = 1989–2004

Text: What is the high grid for ferrari's with 2 laps?
Pred SQL: <pad> SELECT MAX Grid FROM table WHERE Team = ferrari AND Laps
True SQL: SELECT MAX Grid FROM table WHERE Constructor = ferrari AND Laps = 2

Text: Which date has 3 as the goal?
Pred SQL: <pad> SELECT Date FROM table WHERE Goal = 3</s>
True SQL: SELECT Date FROM table WHERE Goal = 3

Text: What is the theme song for Magarikado no Kanojo?
Pred SQL: <pad> SELECT Theme Song FROM table WHERE Title = magarikado no
True SQL: SELECT Theme Song(s) FROM table WHERE Romaji Title = Magarikado no Kanojo

Text: How many goals were scored on 21 Junio 2008?
Pred SQL: <pad> SELECT Goals FROM table WHERE Date = 21 june 2008</s>
True SQL: SELECT COUNT Goal FROM table WHERE Date = 21 junio 2008

Text: Who had the most rebounds and how many did they have on October 16?
Pred SQL: <pad> SELECT High rebounds FROM table WHERE Date = October 16</s>
True SQL: SELECT High rebounds FROM table WHERE Date = October 16

Text: How many reg GP for nathan barrett in a round less than 8?
Pred SQL: <pad> SELECT COUNT Reg GP FROM table WHERE Driver = nathan
True SQL: SELECT COUNT Reg GP FROM table WHERE Player = nathan barrett AND Rd # < 8

Text: What is Calvin Mokoto's average rank?

Pred SQL: <pad> SELECT AVG Rank FROM table WHERE Name = calvin mokot
True SQL: SELECT AVG Rank FROM table WHERE Athletes = calvin mokoto

Text: What team has a home city of Velika?
Pred SQL: <pad> SELECT Team FROM table WHERE Home city = velika</s>
True SQL: SELECT Team FROM table WHERE Home city = velika

Text: what is the number of opponents where the location is syracuse, ny?
Pred SQL: <pad> SELECT COUNT Opponent FROM table WHERE Location = Syracuse, NY</s>
True SQL: SELECT COUNT Opponent FROM table WHERE Location = Syracuse, NY

Text: How many viewers were there in Sydney for the episode when there were 334000 in Melbourne?
Pred SQL: <pad> SELECT Sydney viewers (millions) FROM table WHERE Melbourne viewers (millions
True SQL: SELECT Sydney FROM table WHERE Melbourne = 334000

Text: What record has detroit as the home and mtl. maroons as the visitor?
Pred SQL: <pad> SELECT Record FROM table WHERE Home = detroit AND Visitor =
True SQL: SELECT Record FROM table WHERE Home = detroit AND Visitor = mtl. maroons

Text: What is the Studio of the Film with Director Gregory Ratoff after 1933?
Pred SQL: <pad> SELECT Studio FROM table WHERE Year > 1933 AND Director = gregory
True SQL: SELECT Studio FROM table WHERE Year > 1933 AND Director = gregory ratoff

Text: What college was the player with the jersey number of 34 from?
Pred SQL: <pad> SELECT College FROM table WHERE Jersey Number = 34</s>
True SQL: SELECT From FROM table WHERE Jersey Number(s) = 34

Text: What is English Meaning, when Case Suffix (Case) is "-sa (dative)"?
Pred SQL: <pad> SELECT English Meaning FROM table WHERE Case suffix (case) = -
True SQL: SELECT English meaning FROM table WHERE case suffix (case) = -sa (dative)

Text: Name the date for cleveland
Pred SQL: <pad> SELECT Date FROM table WHERE Team = Cleveland</s>
True SQL: SELECT Date FROM table WHERE Team = Cleveland

Text: Which Percentage has a Draw of 6?
Pred SQL: <pad> SELECT Percentage FROM table WHERE Draw = 6</s>
True SQL: SELECT Percentage FROM table WHERE Draw = 6

Text: What was Tom Watson's lowest To par when the total was larger than 144?
Pred SQL: <pad> SELECT MIN To par FROM table WHERE Player = tom watson
True SQL: SELECT MIN To par FROM table WHERE Player = tom watson AND Total > 144

Text: Name the pinyin for تىزناپ
Pred SQL: <pad> SELECT Pinyin FROM table WHERE Chinese = <unk></s>
True SQL: SELECT Pinyin FROM table WHERE Uyghur ( K̢ona Yezik̢ ) = تىزناپ

Text: What is the fewest number of medals associated with under 6 games and over 0 golds?
Pred SQL: <pad> SELECT MIN Total FROM table WHERE Games <unk> 6 AND Gold >
True SQL: SELECT MIN Total FROM table WHERE Games < 6 AND Gold > 0

Text: Name the former codes for  merged into panama ( pa , pan , 591 )
Pred SQL: <pad> SELECT Former codes FROM table WHERE Merged into = Panama ( PA,
True SQL: SELECT Former codes FROM table WHERE New country names and codes = Merged into Panama ( PA , PAN , 591 )

Text: How big was the crowd of the team that scored 4.13 (37)?
Pred SQL: <pad> SELECT COUNT Crowd FROM table WHERE Score = 4.13 (37)</s>
True SQL: SELECT SUM Crowd FROM table WHERE Away team score = 4.13 (37)

Text: Which Long is the highest one that has a Loss larger than 3, and a Gain larger than 2,894?
Pred SQL: <pad> SELECT MAX Long FROM table WHERE Loss > 3 AND Gain > 2,
True SQL: SELECT MAX Long FROM table WHERE Loss > 3 AND Gain > 2,894

Text: How many public is there for the couple that got eliminated?
Pred SQL: <pad> SELECT COUNT Public FROM table WHERE Eliminated = Couple</s>
True SQL: SELECT MAX Public FROM table WHERE Result = Eliminated

Text: WHich Play-by-play has a Studio host of gary tanguay, and a Studio analysts of donny marshall?
Pred SQL: <pad> SELECT Play-by-play FROM table WHERE Studio host = gary
True SQL: SELECT Play-by-play FROM table WHERE Studio host = gary tanguay AND Studio analysts = donny marshall

Text: what is  the y = 2009 when the expression is month = floor ((d + e + 114) / 31)?
Pred SQL: <pad> SELECT Y = 2009 FROM table WHERE Month = floor ((d +
True SQL: SELECT Y = 2009 FROM table WHERE Expression = month = floor ((d + e + 114) / 31)

Text: What is the total that had an event of +105 kg and clean & jerk less than 227.5?
Pred SQL: <pad> SELECT SUM Total FROM table WHERE Event = +105 kg AND Clean
True SQL: SELECT COUNT Total FROM table WHERE Event = +105 kg AND Clean & Jerk < 227.5

Text: What was the date with a winner of km (mi)?
Pred SQL: <pad> SELECT Date FROM table WHERE Winner = km (mi)</s>
True SQL: SELECT Date FROM table WHERE Winner = km (mi)

Text: What is the total number of Score, when Country is "United States", and when Player is "Lee Trevino"?
Pred SQL: <pad> SELECT COUNT Score FROM table WHERE Country = united states AND Player = le
True SQL: SELECT COUNT Score FROM table WHERE Country = united states AND Player = lee trevino

Text: How many total show when silver is 0, bronze is 1, and the rank is less than 3?
Pred SQL: <pad> SELECT COUNT Total FROM table WHERE Silver = 0 AND Bronze = 1
True SQL: SELECT COUNT Total FROM table WHERE Silver = 0 AND Bronze = 1 AND Rank < 3

Text: Mame the reg season for 2001
Pred SQL: <pad> SELECT Reg. Season FROM table WHERE Year = 2001</s>
True SQL: SELECT Reg. Season FROM table WHERE Year = 2001

Text: how many episodes in the serie were title "the key"
Pred SQL: <pad> SELECT COUNT No. in series FROM table WHERE Title = "The Key
True SQL: SELECT COUNT No. in series FROM table WHERE Title = "The Key"

Text: What was the position of the player with 57 goals?
Pred SQL: <pad> SELECT Position FROM table WHERE Goals = 57</s>
True SQL: SELECT Position FROM table WHERE Goals = 57

Text: Name the least matches for runs being 276
Pred SQL: <pad> SELECT MIN Matches FROM table WHERE Runs = 276</s>
True SQL: SELECT MIN Matches FROM table WHERE Runs = 276

Text: What is the 2nd leg of team 1 Dolphins?
Pred SQL: <pad> SELECT 2nd leg FROM table WHERE Team 1 = dolphins</s>
True SQL: SELECT 2nd leg FROM table WHERE Team 1 = dolphins

Text: What is the Major third with a Perfect fifth that is d?
Pred SQL: <pad> SELECT Major third FROM table WHERE Perfect fifth = d</s>
True SQL: SELECT Major third FROM table WHERE Perfect fifth = d

Text: what is the total number of round where opponents is haugar
Pred SQL: <pad> SELECT COUNT Round FROM table WHERE Opponent = Haugar</s>
True SQL: SELECT COUNT Round FROM table WHERE Opponents = Haugar

Text: Which Class has a Quantity made of 29?
Pred SQL: <pad> SELECT Class FROM table WHERE Quantity made = 29</s>
True SQL: SELECT Class FROM table WHERE Quantity made = 29

Text: Who sanctioned the event in lincoln, illinois?
Pred SQL: <pad> SELECT Sanctioned by FROM table WHERE Location = lincol
True SQL: SELECT Sanction FROM table WHERE Location = Lincoln, Illinois

Text: What scores happened on February 11?
Pred SQL: <pad> SELECT Score FROM table WHERE Date = february 11</s>
True SQL: SELECT Score FROM table WHERE Date = February 11

Text: What name is associated with a longer length than 903?
Pred SQL: <pad> SELECT Name FROM table WHERE Length > 903</s>
True SQL: SELECT Name FROM table WHERE Length > 903

Text: What is Player, when Country is "England", and when Place is "T7"?
Pred SQL: <pad> SELECT Player FROM table WHERE Country = england AND Place =
True SQL: SELECT Player FROM table WHERE Country = england AND Place = t7

Text: Who was South Melbourne's away opponents?
Pred SQL: <pad> SELECT Away team FROM table WHERE Home team = south melbourne</s>
True SQL: SELECT Away team FROM table WHERE Home team = south melbourne

Text: What is Fitzroy's Home team score?
Pred SQL: <pad> SELECT Home team score FROM table WHERE Home team = fitzroy</s>
True SQL: SELECT Home team score FROM table WHERE Home team = fitzroy

Text: Name the most vote % with election of 1946
Pred SQL: <pad> SELECT MAX Votes % FROM table WHERE Election = 1946</s>
True SQL: SELECT MAX Vote % FROM table WHERE Election = 1946

Text: What is the Country of the Player with a Total less than 153 and Year(s) won of 1984?
Pred SQL: <pad> SELECT Country FROM table WHERE Total <unk> 153 AND Year(s)
True SQL: SELECT Country FROM table WHERE Total < 153 AND Year(s) won = 1984

Text: What Label released an album in August 1996?

Pred SQL: <pad> SELECT Label FROM table WHERE Date = august 1996</s>
True SQL: SELECT Label FROM table WHERE Release Date = august 1996

Text: Name the starter for position being left end
Pred SQL: <pad> SELECT Starter FROM table WHERE Position = Left End</s>
True SQL: SELECT Starter FROM table WHERE Position = Left end

Text: Which song has more than 66 points, a draw greater than 3, and is ranked 3rd?
Pred SQL: <pad> SELECT Song FROM table WHERE Points > 66 AND Draw > 3 AND
True SQL: SELECT Song FROM table WHERE Points > 66 AND Draw > 3 AND Rank = 3rd

Text: What is the average number of points when the ranking is 7th and the draw is less than 4?
Pred SQL: <pad> SELECT AVG Points FROM table WHERE Rank = 7th AND Draw
True SQL: SELECT AVG Points FROM table WHERE Rank = 7th AND Draw < 4

Text: What was the score of the game attended by 50,200?
Pred SQL: <pad> SELECT Score FROM table WHERE Attendance = 50,200</s>
True SQL: SELECT Score FROM table WHERE Attendance = 50,200

Text: Which Season # has a Title of "jaunt (part 2)", and a Series # larger than 45?
Pred SQL: <pad> SELECT MAX Season # FROM table WHERE Title = jaunt (part
True SQL: SELECT MAX Season # FROM table WHERE Title = "jaunt (part 2)" AND Series # > 45

Text: How many years did the role of Steve Rhoades last?
Pred SQL: <pad> SELECT COUNT Year FROM table WHERE Role = Steve Rhoades
True SQL: SELECT Years FROM table WHERE Role = steve rhoades

Text: What is the sum of all points in 1975 with 0 wins?
Pred SQL: <pad> SELECT SUM Points FROM table WHERE Year = 1975 AND Wins
True SQL: SELECT SUM Points FROM table WHERE Year = 1975 AND Wins < 0

Text: Clubs involved is 8, what number would you find from winners from previous round?
Pred SQL: <pad> SELECT COUNT Winners from previous round FROM table WHERE Clubs involved =
True SQL: SELECT Winners from previous round FROM table WHERE Clubs involved = 8

Text: Who constructed the car that Derek Warwick raced in with a TG181 chassis?
Pred SQL: <pad> SELECT Constructor FROM table WHERE Chassis = tg18
True SQL: SELECT Constructor FROM table WHERE Chassis = tg181 AND Driver = derek warwick

Text: What is the opening date of the musical at the adelphi theatre?
Pred SQL: <pad> SELECT Opening Date FROM table WHERE Venue = adelphi theatre</s>
True SQL: SELECT Opening date FROM table WHERE Classification = musical AND Theatre = adelphi theatre

Text: What is the highest Drawn when the lost is 7 and the points are more than 4, and the against is less than 22?
Pred SQL: <pad> SELECT MAX Drawn FROM table WHERE Lost = 7 AND Points >
True SQL: SELECT MAX Drawn FROM table WHERE Lost = 7 AND Points > 4 AND Against < 22

Text: What is the series episode number of the episode titled "sound and vision"?
Pred SQL: <pad> SELECT MIN No. in series FROM table WHERE Title = "Sound
True SQL: SELECT MAX Series # FROM table WHERE Title = "Sound and Vision"

Text: What is the slowest 50m split time for a total of 53.74 in a lane of less than 3?
Pred SQL: <pad> SELECT MIN 50m Split FROM table WHERE Total = 53.74 AND
True SQL: SELECT MAX Split (50m) FROM table WHERE Time = 53.74 AND Lane < 3

Text: Which match had more than 1,490 people in attendance to watch FCR 2001 Duisburg have a result of 0:3 (0:2)?
Pred SQL: <pad> SELECT Match FROM table WHERE Attendance > 1,490 AND FCR 2001
True SQL: SELECT SUM Match FROM table WHERE Result = 0:3 (0:2) AND Opponent = fcr 2001 duisburg AND Attnd. > 1,490

Text: Which Country has a Height (m) larger than 4100, and a Range of arsi mountains, and a Mountain of bada?
Pred SQL: <pad> SELECT Country FROM table WHERE Height (m) > 4100 AND Range =
True SQL: SELECT Country FROM table WHERE Height (m) > 4100 AND Range = arsi mountains AND Mountain = bada

Text: What period has 53.52% as the internet explorer?
Pred SQL: <pad> SELECT Period FROM table WHERE Internet Explorer = 53.52%</s>
True SQL: SELECT Period FROM table WHERE Internet Explorer = 53.52%

Text: What pick was mario williams before 2006?
Pred SQL: <pad> SELECT Pick FROM table WHERE Year <unk> 2006 AND Player = mario will
True SQL: SELECT SUM Pick FROM table WHERE Player name = mario williams AND Year < 2006

Text: When was the event in Dublin?
Pred SQL: <pad> SELECT Date FROM table WHERE Venue = dublin</s>
True SQL: SELECT Date FROM table WHERE City = dublin

Text: What is the name of the player from Spain with a rank lower than 3?
Pred SQL: <pad> SELECT Player FROM table WHERE Rank <unk> 3 AND Country = spain
True SQL: SELECT Name FROM table WHERE Nationality = spain AND Ranking > 3

Text: Pick # of 25, and an Overall of 207 has what name?
Pred SQL: <pad> SELECT Name FROM table WHERE Pick # = 25 AND Overall = 207</s>
True SQL: SELECT Name FROM table WHERE Pick # = 25 AND Overall = 207

Text: who won by a score of 4-1?
Pred SQL: <pad> SELECT Winner FROM table WHERE Score = 4-1</s>
True SQL: SELECT Winning Team FROM table WHERE Score = 4-1

Text: What is the lowest week number where they played against the Detroit Lions?
Pred SQL: <pad> SELECT MIN Week FROM table WHERE Opponent = detroit
True SQL: SELECT MIN Week FROM table WHERE Opponent = detroit lions

Text: Name the opponent for record 10-13-3
Pred SQL: <pad> SELECT Opponent FROM table WHERE Record = 10-13-3</s>
True SQL: SELECT Opponent FROM table WHERE Record = 10-13-3

Text: What is Team, when Replaced By is "Jesús Ramírez"?
Pred SQL: <pad> SELECT Team FROM table WHERE Replaced by = jes<unk>s ram
True SQL: SELECT Team FROM table WHERE Replaced by = jesús ramírez

Text: If the special weapon is the Grenado, what is the armor?
Pred SQL: <pad> SELECT Armor FROM table WHERE Special Weapon = Grenado</s>
True SQL: SELECT Armor FROM table WHERE Special weapon = Grenado

Text:  what's the margin where runner(s)-up is phil mickelson
Pred SQL: <pad> SELECT Margin FROM table WHERE Runner(s)-up = Phil
True SQL: SELECT Margin FROM table WHERE Runner(s)-up = Phil Mickelson

Text: Who was the successor for the Kentucky 2nd district?
Pred SQL: <pad> SELECT Successor FROM table WHERE District = Kentucky 2nd</s>
True SQL: SELECT Successor FROM table WHERE District = Kentucky 2nd

Text: Which Score has Opponents of pkns fc, and a Date of january 8, 2006?
Pred SQL: <pad> SELECT Score FROM table WHERE Opponents = pkns
True SQL: SELECT Score FROM table WHERE Opponents = pkns fc AND Date = january 8, 2006

Text: What is the maximum area (in acres) of the Knockacullen townland?
Pred SQL: <pad> SELECT MAX Area (acres) FROM table WHERE Townland =
True SQL: SELECT MAX Area( acres ) FROM table WHERE Townland = Knockacullen

Text: Who was the opponent at the game when the record was 22-13?
Pred SQL: <pad> SELECT Opponent FROM table WHERE Record = 22-13</s>
True SQL: SELECT Opponent FROM table WHERE Record = 22-13

Text: What is the percentage of La Canada Flintridge when Tujunga is 7%?
Pred SQL: <pad> SELECT La Canada Flintridge FROM table WHERE Tujunga = 7%</s>
True SQL: SELECT La Cañada Flintridge FROM table WHERE Tujunga = 7%

Text: What is 1998, when 1997 is "3R", and when 1992 is "A"?
Pred SQL: <pad> SELECT 1998 FROM table WHERE 1997 = 3r AND 1992 = a</s>
True SQL: SELECT 1998 FROM table WHERE 1997 = 3r AND 1992 = a

Text: Name the year for sammo hung for ip man 2
Pred SQL: <pad> SELECT Year FROM table WHERE Opponent = sammo hung
True SQL: SELECT Year FROM table WHERE Best Supporting Actor = Sammo Hung for Ip Man 2

Text: What is the average Game, when Date is "December 23"?
Pred SQL: <pad> SELECT AVG Game FROM table WHERE Date = december 23</s>
True SQL: SELECT AVG Game FROM table WHERE Date = december 23

Text: What was the average point total for the nets in games before game 9 where the opponents scored less than 95?
Pred SQL: <pad> SELECT AVG Points FROM table WHERE Opponents <unk> 95 AND
True SQL: SELECT AVG Nets points FROM table WHERE Game < 9 AND Opponents < 95

Text: What position is for Dr. Phillips high school?
Pred SQL: <pad> SELECT Position FROM table WHERE School = Dr. Phillips High School</s>
True SQL: SELECT Position FROM table WHERE School = dr. phillips high school

Text: What is the second way of writting плавна.
Pred SQL: <pad> SELECT Second way FROM table WHERE Written by = <unk>лавна.
True SQL: SELECT Settlement FROM table WHERE Cyrillic Name Other Names = Плавна

Text: What was the nationality of the winner on December 8, 1968?

Pred SQL: <pad> SELECT Nationality FROM table WHERE Date = december 8, 1968</s>
True SQL: SELECT Country FROM table WHERE Date = december 8, 1968

Text: What is the most recent year where the average start is 8.5?
Pred SQL: <pad> SELECT MAX Year FROM table WHERE Avg. Start = 8.5
True SQL: SELECT MAX Year FROM table WHERE Avg. Start = 8.5

Text:  what's the 1st leg where opponents is galatasaray
Pred SQL: <pad> SELECT 1st leg FROM table WHERE Opponents = Galata
True SQL: SELECT 1st leg FROM table WHERE Opponents = Galatasaray

Text: how many countries had 21 points
Pred SQL: <pad> SELECT COUNT Points FROM table WHERE Points = 21</s>
True SQL: SELECT COUNT Country FROM table WHERE Points = 21

Text: What is the highest Pick, when Round is greater than 15, and when College is "Tennessee"?
Pred SQL: <pad> SELECT MAX Pick FROM table WHERE Round > 15 AND College = ten
True SQL: SELECT MAX Pick FROM table WHERE Round > 15 AND College = tennessee

Text: With a 1986 of NH and a career SR of 0 / 5 what is the results in 1985?
Pred SQL: <pad> SELECT 1985 FROM table WHERE 1986 = nh AND Career SR =
True SQL: SELECT 1985 FROM table WHERE Career SR = 0 / 5 AND 1986 = nh

Text: What is the maximum number of silvers for a country with fewer than 12 golds and a total less than 8?
Pred SQL: <pad> SELECT MAX Silver FROM table WHERE Gold <unk> 12 AND Total <unk>
True SQL: SELECT MAX Silver FROM table WHERE Gold < 12 AND Total < 8

Text: What is the verb meaning of the word with part 2 "bant"?
Pred SQL: <pad> SELECT Verb meaning FROM table WHERE Part 2 = bant</s>
True SQL: SELECT Verb meaning FROM table WHERE Part 2 = bant

Text: What is the current venue for the Miami Masters tournament?
Pred SQL: <pad> SELECT Venue FROM table WHERE Tournament = miami masters</s>
True SQL: SELECT Current Venue FROM table WHERE Tournament = Miami Masters

Text: How many Inhabitants were in the democratic party for an election before 2009 for Mayor of stefano cimatti?
Pred SQL: <pad> SELECT COUNT Inhabitants FROM table WHERE Party = democratic AND Election
True SQL: SELECT COUNT Inhabitants FROM table WHERE Party = democratic party AND Mayor = stefano cimatti AND Election < 2009

Text: The score in the final is 2–6, 6–2, 6–0, on what surface?
Pred SQL: <pad> SELECT Surface FROM table WHERE Score in the final = 2–6, 6–
True SQL: SELECT Surface FROM table WHERE Score in the final = 2–6, 6–2, 6–0

Text: What is the nickname of the boy who weighed 810g (26.0 oz.) at birth?
Pred SQL: <pad> SELECT Nickname FROM table WHERE Weight at birth = 810g (26.0
True SQL: SELECT Nickname FROM table WHERE Gender = boy AND Weight at birth = 810g (26.0 oz.)

Text: What's the lowest ranking source of copper, copper ore, concentrated and leached?
Pred SQL: <pad> SELECT MIN Rank FROM table WHERE Source = copper, copper ore
True SQL: SELECT MIN Rank FROM table WHERE Source of copper = copper ore, concentrated and leached

Text: What is the protein name of the protein with a sequence identity to human protein of 32%?
Pred SQL: <pad> SELECT Protein Name FROM table WHERE Sequence Identity to Human Protein = 32%
True SQL: SELECT protein name FROM table WHERE sequence identity to human protein = 32%

Text: On episodes where guest 1 is Jim White, who was guest 3?
Pred SQL: <pad> SELECT Guest 3 FROM table WHERE Guest 1 = Jim White</s>
True SQL: SELECT Guest 3 FROM table WHERE Guest 1 = Jim White

Text: For what award was there a nomination for Best Actress?
Pred SQL: <pad> SELECT Award FROM table WHERE Category = best actress</s>
True SQL: SELECT Award FROM table WHERE Category = best actress

Text: Name the total number of 1992-93 for 115 points
Pred SQL: <pad> SELECT COUNT 1992-93 FROM table WHERE Points = 115</s>
True SQL: SELECT COUNT 1992-93 FROM table WHERE Points = 115

Text: Which Manchester United captain is sponsored by Nike?
Pred SQL: <pad> SELECT Captain FROM table WHERE Sponsor = nike</s>
True SQL: SELECT Captain FROM table WHERE Manufacturer = nike AND Club = manchester united

Text: What is Trial Phase, when Expected End Date is June 2007?
Pred SQL: <pad> SELECT Trial phase FROM table WHERE Expected end date = june
True SQL: SELECT Trial Phase FROM table WHERE Expected End Date = june 2007

Text: How many Byes have Against of 1076 and Wins smaller than 13?
Pred SQL: <pad> SELECT SUM Byes FROM table WHERE Against = 1076 AND
True SQL: SELECT AVG Byes FROM table WHERE Against = 1076 AND Wins < 13

Text: Which Player has a Pick # lower than 223 and a Defensive End Position?
Pred SQL: <pad> SELECT Player FROM table WHERE Pick # <unk> 223 AND Position = defensive
True SQL: SELECT Player FROM table WHERE Pick # < 223 AND Position = defensive end

Text: What date has a status of 1995 rugby world cup and an against of 20?
Pred SQL: <pad> SELECT Date FROM table WHERE Status = 1995 rugby world cup AND Against =
True SQL: SELECT Date FROM table WHERE Status = 1995 rugby world cup AND Against = 20

Text: How many times did the Lancaster City team play?
Pred SQL: <pad> SELECT COUNT Opponents FROM table WHERE Team = Lancaster City</s>
True SQL: SELECT COUNT Played FROM table WHERE Team = Lancaster City

Text: Name the report on 20 may
Pred SQL: <pad> SELECT Report FROM table WHERE Date = 20 may</s>
True SQL: SELECT Report FROM table WHERE Date = 20 may

Text: Which away team had more than 17,903 spectators and played Melbourne?
Pred SQL: <pad> SELECT Away team FROM table WHERE Crowd > 17,903 AND Home
True SQL: SELECT Away team score FROM table WHERE Crowd > 17,903 AND Home team = melbourne

Text: Who won the Women's doubles in the year that David Eddy Eddy Sutton won the Men's doubles, and that David Eddy won the Men's singles?
Pred SQL: <pad> SELECT Women's doubles FROM table WHERE Men's doubles =
True SQL: SELECT Women's doubles FROM table WHERE Men's doubles = david eddy eddy sutton AND Men's singles = david eddy

Text: What tournament did Nadal win and had a nadal of 16?
Pred SQL: <pad> SELECT Tournament FROM table WHERE Winner = nadal AND Nadal =
True SQL: SELECT Tournament FROM table WHERE Winner = nadal AND Nadal = 16

Text: Name the average ERP W and call sign of w237br
Pred SQL: <pad> SELECT AVG ERP W FROM table WHERE Call sign = w237
True SQL: SELECT AVG ERP W FROM table WHERE Call sign = w237br

Text: Who is the winning driver of the race on 5 May?
Pred SQL: <pad> SELECT Winning driver FROM table WHERE Date = 5 may</s>
True SQL: SELECT Winning driver FROM table WHERE Date = 5 may

Text: Which company has a group equity shareholding percentage, as of March 10th 2010 of 30%?
Pred SQL: <pad> SELECT Company FROM table WHERE Group equity shareholding percentage (March 10th 2010
True SQL: SELECT Company FROM table WHERE Group's Equity Shareholding (10 March 2010) = 30%

Text: What was the score for south melbourne at home?
Pred SQL: <pad> SELECT Home team score FROM table WHERE Home team = south melbourne</s>
True SQL: SELECT Home team score FROM table WHERE Home team = south melbourne

Text: What is the Theme Song of the Yukan Club?
Pred SQL: <pad> SELECT Theme Song FROM table WHERE Club = yukon</s>
True SQL: SELECT Theme Song(s) FROM table WHERE Romaji Title = yukan club

Text: Who was the player who was pick number 147?
Pred SQL: <pad> SELECT Player FROM table WHERE Pick # = 147</s>
True SQL: SELECT Player FROM table WHERE Pick = 147

Text: What school did the forward whose number is 10 belong to?
Pred SQL: <pad> SELECT School/Club Team FROM table WHERE No. = 10</s>
True SQL: SELECT School/Club Team/Country FROM table WHERE No.(s) = 10 AND Position = Forward

Text: Driver Shaun Jones with a viper as a chassis is in what class?
Pred SQL: <pad> SELECT Class FROM table WHERE Chassis = viper AND Driver = sh
True SQL: SELECT Class FROM table WHERE Chassis = viper AND Driver = shaun jones

Text: Which Tom Ridge* has a Poll source of research 2000, and an Arlen Specter* of 43%?
Pred SQL: <pad> SELECT Tom Ridge* FROM table WHERE Poll source = research 2000 AND Arl
True SQL: SELECT Tom Ridge* FROM table WHERE Poll source = research 2000 AND Arlen Specter* = 43%

Text: Name the world rank for market value 17.2
Pred SQL: <pad> SELECT World Rank FROM table WHERE Market Value ( USD ) = 17.
True SQL: SELECT World Rank FROM table WHERE Market Value (billion $) = 17.2

Text: What is the date of injury when the injury is sustained posterior thigh strains in his left leg?

Pred SQL: <pad> SELECT Date of injury FROM table WHERE Condition = Sustained posterior t
True SQL: SELECT Date of injury FROM table WHERE Injury = Sustained posterior thigh strains in his left leg

Text: When the grid number is 10, what is the total number of laps?
Pred SQL: <pad> SELECT COUNT Laps FROM table WHERE Grid = 10</s>
True SQL: SELECT COUNT Laps FROM table WHERE Grid = 10

Text: What is the Country, when Place is T6, and when Player is "Raymond Floyd"?
Pred SQL: <pad> SELECT Country FROM table WHERE Place = t6 AND Player = ray
True SQL: SELECT Country FROM table WHERE Place = t6 AND Player = raymond floyd

Text: Home result of 1–0, and a Away result of 0–1 involves what club?
Pred SQL: <pad> SELECT Club FROM table WHERE Home = 1–0 AND Away =
True SQL: SELECT Club FROM table WHERE Home result = 1–0 AND Away result = 0–1

Text: where has a Score of match reports?
Pred SQL: <pad> SELECT Location FROM table WHERE Score = match reports</s>
True SQL: SELECT Location FROM table WHERE Score = match reports

Text: What is the average number of million viewers that watched an episode before episode 11 with a share of 4?
Pred SQL: <pad> SELECT AVG Viewers (millions) FROM table WHERE Episode <unk>
True SQL: SELECT AVG Viewers (millions) FROM table WHERE Episode # < 11 AND Share = 4

Text: when area (km²) is 1605.35, how many provinces are there?
Pred SQL: <pad> SELECT COUNT Province FROM table WHERE Area (km2) = 1605.35
True SQL: SELECT COUNT Province FROM table WHERE Area (km²) = 1605.35

Text: Which Tom Ridge* has a Pat Toomey of 60%, and a Poll source of suffolk?
Pred SQL: <pad> SELECT Tom Ridge* FROM table WHERE Pat Toomey = 60% AND Poll
True SQL: SELECT Tom Ridge* FROM table WHERE Pat Toomey = 60% AND Poll source = suffolk

Text: what is the class when the quantity perserved is 0 and the quantity made is 5?
Pred SQL: <pad> SELECT Class FROM table WHERE Quantity perserved = 0 AND
True SQL: SELECT Class FROM table WHERE Quantity preserved = 0 AND Quantity made = 5

Text: With a 20 to 24 less than 676, and a 15 to 17 greater than 16, and a 60 to 64 less than 3,142, what is the average 45 to 49?
Pred SQL: <pad> SELECT AVG 45 to 49 FROM table WHERE 20 to 24 <unk> 6
True SQL: SELECT AVG 45 to 49 FROM table WHERE 20 to 24 < 676 AND 15 to 17 > 16 AND 60 to 64 < 3,142

Text: Who was the winning mentor in season two?
Pred SQL: <pad> SELECT Mentor FROM table WHERE Season = two</s>
True SQL: SELECT Winning mentor FROM table WHERE Season = Two

Text: What is the number of the pick for round 11?
Pred SQL: <pad> SELECT COUNT Pick FROM table WHERE Round = 11</s>
True SQL: SELECT SUM Pick FROM table WHERE Round = 11

Text: Who was the home team for the game where North Melbourne was the away team and the crowd was over 12,000?
Pred SQL: <pad> SELECT Home team FROM table WHERE Crowd > 12,000 AND Away team
True SQL: SELECT Home team FROM table WHERE Crowd > 12,000 AND Away team = north melbourne

Text: What championship was in 1985?
Pred SQL: <pad> SELECT Championship FROM table WHERE Year = 1985</s>
True SQL: SELECT Championship FROM table WHERE Year = 1985

Text: What chassis has smaller than 9 points by Equipe Rosier?
Pred SQL: <pad> SELECT Chassis FROM table WHERE Points <unk> 9 AND Manufacturer =
True SQL: SELECT Chassis FROM table WHERE Points < 9 AND Entrant = equipe rosier

Text: What vehicle has an epa highway fuel economy of 109 mpg-e?
Pred SQL: <pad> SELECT Vehicle FROM table WHERE EPA Highway Fuel Economy = 109 mp
True SQL: SELECT Vehicle FROM table WHERE EPA rated Highway fuel economy = 109 mpg-e

Text: What constituency does the Conservative Darren Millar belong to?
Pred SQL: <pad> SELECT Constituency FROM table WHERE Party = conservative AND Incumbent = dar
True SQL: SELECT Constituency FROM table WHERE Conservative = darren millar

Text: What Lane has a 0.209 React entered with a Rank entry that is larger than 6?
Pred SQL: <pad> SELECT AVG Lane FROM table WHERE React = 0.209 AND
True SQL: SELECT Lane FROM table WHERE React > 0.209 AND Rank > 6

Text: What is the production code for the episode written by Drew Z. Greenberg?
Pred SQL: <pad> SELECT Production code FROM table WHERE Written by = Drew Z. Greenberg</s>
True SQL: SELECT Production code FROM table WHERE Written by = Drew Z. Greenberg

Text: What shows for 1995 when 1996 shows grand slams?
Pred SQL: <pad> SELECT 1995 FROM table WHERE 1996 = grand slams</s>
True SQL: SELECT 1995 FROM table WHERE 1996 = grand slams

Text: What is the number of games for a club that has 34 match points?
Pred SQL: <pad> SELECT Games FROM table WHERE Match points = 34</s>
True SQL: SELECT Games FROM table WHERE Match points = 34

Text: What away team has a home team score of 15.18 (108)?
Pred SQL: <pad> SELECT Away team FROM table WHERE Home team score = 15.18 (108)
True SQL: SELECT Away team FROM table WHERE Home team score = 15.18 (108)

Text: When Mark Cavendish wins sprint classification and Maarten Tjallingii wins most courageous, who wins youth classification?
Pred SQL: <pad> SELECT Youth classification FROM table WHERE Sprint classification = Mark Cavendish AND Most
True SQL: SELECT Youth Classification FROM table WHERE Sprint Classification = Mark Cavendish AND Most Courageous = Maarten Tjallingii

Text: What were the notes when his position was 10th?
Pred SQL: <pad> SELECT Notes FROM table WHERE Position = 10th</s>
True SQL: SELECT Notes FROM table WHERE Position = 10th

Text: What is the Game number on March 30?
Pred SQL: <pad> SELECT Game FROM table WHERE Date = march 30</s>
True SQL: SELECT Game FROM table WHERE Date = march 30

Text: How many years was the building with 24 floors the tallest?
Pred SQL: <pad> SELECT COUNT Year FROM table WHERE Floors = 24</s>
True SQL: SELECT Years as tallest FROM table WHERE Floors = 24

Text: What is the average total for teams with more than 1 gold, ranked over 3 and more than 3 bronze?
Pred SQL: <pad> SELECT AVG Total FROM table WHERE Gold > 1 AND Rank > 3
True SQL: SELECT AVG Total FROM table WHERE Gold > 1 AND Rank > 3 AND Bronze > 3

Text: What percentage of the people in Bonneville voted for Bush?
Pred SQL: <pad> SELECT Bush% FROM table WHERE City = Bonneville</s>
True SQL: SELECT Bush% FROM table WHERE County = Bonneville

Text: What is the earliest year for ordinary people to appear in the notes?
Pred SQL: <pad> SELECT MIN Year FROM table</s>
True SQL: SELECT MIN Year FROM table WHERE Notes = ordinary people

Text: Which race has a position of 3rd and a speed of 126.452?
Pred SQL: <pad> SELECT Race FROM table WHERE Position = 3rd AND Speed = 126.4
True SQL: SELECT Race FROM table WHERE Position = 3rd AND Speed = 126.452

Text: If the equation is all equal, what is the 3rd throw?
Pred SQL: <pad> SELECT 3rd throw FROM table WHERE Equation = All Equal</s>
True SQL: SELECT 3rd throw FROM table WHERE Equation = all equal

Text: Who is the winner in the city of lima?
Pred SQL: <pad> SELECT Winner FROM table WHERE City = lima</s>
True SQL: SELECT Winner FROM table WHERE City = lima

Text: Which result has sunderland as opponent?
Pred SQL: <pad> SELECT Result FROM table WHERE Opponent = sunderland</s>
True SQL: SELECT Result FROM table WHERE Opponent = sunderland

Text: Name the height for the player born 1989 and height 2.11
Pred SQL: <pad> SELECT Height FROM table WHERE Birth = 1989 AND Height = 2.11</s>
True SQL: SELECT Height (f) FROM table WHERE Year born = 1989 AND Height (m) = 2.11

Text: How many Losses have a Ballarat FL of melton south, and an Against larger than 1468?
Pred SQL: <pad> SELECT COUNT Losses FROM table WHERE Ballarat FL = melton
True SQL: SELECT COUNT Losses FROM table WHERE Ballarat FL = melton south AND Against > 1468

Text: What is the 1st leg of the Al Fahaheel Team 1?
Pred SQL: <pad> SELECT 1st leg FROM table WHERE Team 1 = al fa
True SQL: SELECT 1st leg FROM table WHERE Team 1 = al fahaheel

Text: What is the Arena when there were 65 points?
Pred SQL: <pad> SELECT Arena FROM table WHERE Points = 65</s>
True SQL: SELECT Arena FROM table WHERE Points = 65

Text: How many locations have a median household income in 2011 of $71,479?
Pred SQL: <pad> SELECT COUNT Location FROM table WHERE Median household income (2011) = $71,
True SQL: SELECT COUNT Location FROM table WHERE Median household income (2011) = $71,479

Text: What unit of length is being used for the route with "replaced by us 81" in their remarks section?

Pred SQL: <pad> SELECT Unit of length FROM table WHERE Remarks = Replaced by us
True SQL: SELECT Length FROM table WHERE Remarks = Replaced by US 81

Text: What is the time of Max Biaggi with more than 2 grids, 20 laps?
Pred SQL: <pad> SELECT Time FROM table WHERE Grid > 2 AND Laps = 20 AND
True SQL: SELECT Time FROM table WHERE Grid > 2 AND Laps = 20 AND Rider = max biaggi

Text:  what's the permanence of the body where purity is rudra
Pred SQL: <pad> SELECT Permanence FROM table WHERE Purity = Rudra</s>
True SQL: SELECT permanence of the body FROM table WHERE purity = Rudra

Text: Who is the Arkansas player associated with Ken Stabler?
Pred SQL: <pad> SELECT Player FROM table WHERE College = arkansas AND Player =
True SQL: SELECT Arkansas FROM table WHERE Alabama = ken stabler

Text: In the championship Indian Wells, United States (2), who are the opponents in the final?
Pred SQL: <pad> SELECT Opponents in the final FROM table WHERE Championship = indian well
True SQL: SELECT Opponent in the final FROM table WHERE Championship = Indian Wells, United States (2)

Text: What is the lowest year listed?
Pred SQL: <pad> SELECT MIN Year FROM table</s>
True SQL: SELECT MIN Year FROM table

Text: How many Picks have a College of hawaii, and an Overall smaller than 122?
Pred SQL: <pad> SELECT COUNT Pick # FROM table WHERE College = hawaii
True SQL: SELECT COUNT Pick FROM table WHERE College = hawaii AND Overall < 122

Text: What is the Qaxmuğal village with a Fistiqli village keşqutan?
Pred SQL: <pad> SELECT Qaxmu<unk>al village FROM table WHERE Fistiq
True SQL: SELECT Qaxmuğal FROM table WHERE Fıstıqlı = keşqutan

Text: Which Oberliga Bayern has a Season of 1981-82?
Pred SQL: <pad> SELECT Oberliga Bayern FROM table WHERE Season = 1981-82</s>
True SQL: SELECT Oberliga Bayern FROM table WHERE Season = 1981-82

Text: When was the match that had Shaun Murphy as runner-up?
Pred SQL: <pad> SELECT Date FROM table WHERE Runner(s)-up = sha
True SQL: SELECT Date FROM table WHERE Runner-up = shaun murphy

Text: What is the lowest round for an overall pick of 349 with a pick number in the round over 11?
Pred SQL: <pad> SELECT MIN Round FROM table WHERE Overall = 349 AND Pick # >
True SQL: SELECT MIN Round FROM table WHERE Overall = 349 AND Pick > 11

Text: What is the time of the rider ranked 6?
Pred SQL: <pad> SELECT Time FROM table WHERE Rank = 6</s>
True SQL: SELECT Time FROM table WHERE Rank = 6

Text: List the power output for Phoenix.
Pred SQL: <pad> SELECT Power output FROM table WHERE Name = Phoenix</s>
True SQL: SELECT Power (kW) FROM table WHERE Coverage = Phoenix

Text: What was the nationality of the winner for the 20th Edition?
Pred SQL: <pad> SELECT Nationality FROM table WHERE Edition = 20th</s>
True SQL: SELECT Country FROM table WHERE Edition = 20th

Text: What is the publication date of the book that is narrated by Michael Maloney?
Pred SQL: <pad> SELECT Publication date FROM table WHERE Narrator = michael
True SQL: SELECT Published FROM table WHERE Audiobook narrator = Michael Maloney

Text: Name the resolution for ketftv.com and callsign of kldo-dt2
Pred SQL: <pad> SELECT Resolution FROM table WHERE Callsign = kldo-d
True SQL: SELECT Resolution FROM table WHERE Official Website = ketftv.com AND Callsign = kldo-dt2

Text: What is the earliest year that had a co-driver of Roger Enever?
Pred SQL: <pad> SELECT MIN Year FROM table WHERE Co-Driver = roger
True SQL: SELECT MIN Year FROM table WHERE Co-Drivers = roger enever

Text: Tell me the track for june 9
Pred SQL: <pad> SELECT Track FROM table WHERE Date = june 9</s>
True SQL: SELECT Track FROM table WHERE Date = june 9

Text: Who were the challenge leaders of the games won by boston college (88-76)?
Pred SQL: <pad> SELECT Challenge Leader FROM table WHERE Winner = Boston College (88-76)
True SQL: SELECT Challenge Leader FROM table WHERE Winner = Boston College (88-76)

Text: What is the Money ($) when the Place is t6, and Player is chris dimarco?
Pred SQL: <pad> SELECT Money ( $ ) FROM table WHERE Place = t6 AND
True SQL: SELECT Money ( $ ) FROM table WHERE Place = t6 AND Player = chris dimarco

Text: Name the try bonus of points against at 430
Pred SQL: <pad> SELECT Try bonus FROM table WHERE Points against = 430</s>
True SQL: SELECT Try bonus FROM table WHERE Points against = 430

Text: What is the competition at the ta'qali venue?
Pred SQL: <pad> SELECT Competition FROM table WHERE Venue = ta'qali</s>
True SQL: SELECT Competition FROM table WHERE Venue = ta'qali

Text: In what position was the driver who won $60,000?
Pred SQL: <pad> SELECT Position FROM table WHERE Money ( $ ) = 60,000</s>
True SQL: SELECT MIN Position FROM table WHERE Winnings = $60,000

Text: What is the largest money for a t4 place, for Tiger Woods?
Pred SQL: <pad> SELECT MAX Money ( $ ) FROM table WHERE Place = t
True SQL: SELECT MAX Money ( $ ) FROM table WHERE Place = t4 AND Player = tiger woods

Text: What's the total number of Silver that has Gold that's larger than 0, Bronze that's smaller than 23, a Total that's larger than 22, and has the Nation of Saint Kitts and Nevis?
Pred SQL: <pad> SELECT COUNT Silver FROM table WHERE Gold > 0 AND Bronze <unk>
True SQL: SELECT COUNT Silver FROM table WHERE Gold > 0 AND Bronze < 23 AND Total > 22 AND Nation = saint kitts and nevis

Text: What was the score when they had a 25-41-9 record?
Pred SQL: <pad> SELECT Score FROM table WHERE Record = 25-41-9</s>
True SQL: SELECT Score FROM table WHERE Record = 25-41-9

Text: What is the highest Points+ number when the Points- number is larger than 1385, a Sets+ number smaller than 37 and a Sets- number larger than 41?
Pred SQL: <pad> SELECT MAX Points+ FROM table WHERE Points- > 1385
True SQL: SELECT MAX Points+ FROM table WHERE Points– > 1385 AND Sets+ < 37 AND Sets– > 41

Text: What Position has a Time of 20.66?
Pred SQL: <pad> SELECT Position FROM table WHERE Time = 20.66</s>
True SQL: SELECT Position FROM table WHERE Time = 20.66

Text: Opponent of edmonton oilers, and a Game of 3 is what series?
Pred SQL: <pad> SELECT Series FROM table WHERE Opponent = edmonton oilers
True SQL: SELECT Series FROM table WHERE Opponent = edmonton oilers AND Game = 3

Text: What is the winning score for the runner-up Ernie Els?
Pred SQL: <pad> SELECT Winning score FROM table WHERE Runner(s)-up =
True SQL: SELECT Winning score FROM table WHERE Runner(s)-up = ernie els

Text: Name the profits for market value of 11.8
Pred SQL: <pad> SELECT Profits (billion $) FROM table WHERE Market Value (b
True SQL: SELECT Profits (billion $) FROM table WHERE Market Value (billion $) = 11.8

Text: Name the best director for mother
Pred SQL: <pad> SELECT Best Director FROM table WHERE Title = Mother</s>
True SQL: SELECT Best Director FROM table WHERE Best Film = Mother

Text: What is the highest November that has a game less than 12, and @ detroit red wings as the opponent?
Pred SQL: <pad> SELECT MAX November FROM table WHERE Game <unk> 12 AND Opponent =
True SQL: SELECT MAX November FROM table WHERE Game < 12 AND Opponent = @ detroit red wings

Text: What is the record when the fight was against keith rockel?
Pred SQL: <pad> SELECT Record FROM table WHERE Opponent = keith rockel</s>
True SQL: SELECT Record FROM table WHERE Opponent = keith rockel

Text: What was the score of the game with a loss of Maholm (2–4)?
Pred SQL: <pad> SELECT Score FROM table WHERE Loss = maholm (2–4)</s>
True SQL: SELECT Score FROM table WHERE Loss = maholm (2–4)

Text: When Naomi Owen won the Womens Singles and Ricardo Walther won the Mens Singles, who won the mixed veteran?
Pred SQL: <pad> SELECT Mixed veteran FROM table WHERE Mens singles = ricard
True SQL: SELECT Mixed Veteran FROM table WHERE Womens Singles = Naomi Owen AND Mens singles = Ricardo Walther

Text: What is the Nationality of the Swimmer in Lane 4 or larger with a Rank of 5 or more?
Pred SQL: <pad> SELECT Nationality FROM table WHERE Lane > 4 AND Rank > 5</s>
True SQL: SELECT Nationality FROM table WHERE Lane > 4 AND Rank > 5

Text: What is the highest attendance for games with stevenage borough at home?
Pred SQL: <pad> SELECT MAX Attendance FROM table WHERE Home team = stevenage
True SQL: SELECT MAX Attendance FROM table WHERE Home team = stevenage borough

Text: What is the strongs # of the english spelling word jehojakin?

Pred SQL: <pad> SELECT Strongs # FROM table WHERE English spelling = jehojakin
True SQL: SELECT Strongs # FROM table WHERE English Spelling = Jehojakin

Text: What is the low lap total for a grid larger than 16 and has a Time/Retired of + 3:27.3?
Pred SQL: <pad> SELECT MIN Laps FROM table WHERE Grid > 16 AND Time/
True SQL: SELECT MIN Laps FROM table WHERE Time/Retired = + 3:27.3 AND Grid > 16

Text: What was her lowest final score with a qualifying score of 74.075?
Pred SQL: <pad> SELECT MIN Final Score FROM table WHERE Qualifying Score = 74.0
True SQL: SELECT MIN Score-Final FROM table WHERE Score-Qualifying = 74.075

Text: Who is the player with 41 legs lost?
Pred SQL: <pad> SELECT Player FROM table WHERE Legs Lost = 41</s>
True SQL: SELECT Player FROM table WHERE Legs Lost = 41

Text: How many different episode numbers are there for the episodes directed by Sheri Elwood?
Pred SQL: <pad> SELECT COUNT No. in series FROM table WHERE Directed by =
True SQL: SELECT COUNT Total # FROM table WHERE Directed by = Sheri Elwood

Text: What is the Against when the drawn is 5?
Pred SQL: <pad> SELECT Against FROM table WHERE Drawn = 5</s>
True SQL: SELECT Against FROM table WHERE Drawn = 5

Text: If the aircraft was  ussr mig-25 rb how many were destroyed?
Pred SQL: <pad> SELECT COUNT Destroyed FROM table WHERE Aircraft = USSR Mi
True SQL: SELECT destroyed FROM table WHERE Aircraft = USSR MiG-25 RB

Text: What is the lowest capacity for the 1975 toyota celica 1600gt?
Pred SQL: <pad> SELECT MIN Capacity FROM table WHERE Model = 1975 toyo
True SQL: SELECT MIN Capacity FROM table WHERE Vehicle = 1975 toyota celica 1600gt

Text: What is the sequence length (aa) of the protein with the common name Purple Sea Urchin and a divergence from human lineage less than 742.9?
Pred SQL: <pad> SELECT Sequence length (aa) FROM table WHERE Common name = purple
True SQL: SELECT SUM sequence length (aa) FROM table WHERE common name = purple sea urchin AND divergence from human lineage (MYA) < 742.9

Text: What are all the metropolis / municipality where mayor is helen c. De castro
Pred SQL: <pad> SELECT Metropolis / Municipality FROM table WHERE Mayor = Helen C.
True SQL: SELECT City / Municipality FROM table WHERE Mayor = Helen C. De Castro

Text: What king has an S. number over 1 and a number of villages of 600?
Pred SQL: <pad> SELECT King FROM table WHERE S. > 1 AND Number of villages = 600
True SQL: SELECT Name of King FROM table WHERE S.No. > 1 AND No. of villages = 600

Text: What was North Melbourne's score as the home team?
Pred SQL: <pad> SELECT Home team score FROM table WHERE Home team = north melbourne</s>
True SQL: SELECT Home team score FROM table WHERE Home team = north melbourne

Text: What college has a position of defensive line and Grant high school?
Pred SQL: <pad> SELECT College FROM table WHERE Position = defensive line AND School = grant high school
True SQL: SELECT College FROM table WHERE Position = defensive line AND School = grant high school

Text: Which Incumbent has a District of California 8?
Pred SQL: <pad> SELECT Incumbent FROM table WHERE District = california
True SQL: SELECT Incumbent FROM table WHERE District = california 8

Text: What is the tyre on the race where Bruce Mclaren had the fastest lap?
Pred SQL: <pad> SELECT Tyre FROM table WHERE Fastest lap = Bruce Mclaren</s>
True SQL: SELECT Tyre FROM table WHERE Fastest lap = bruce mclaren

Text: Who was team #1 on 9 September 2006?
Pred SQL: <pad> SELECT Team #1 FROM table WHERE Date = 9 september 2006</s>
True SQL: SELECT Team #1 FROM table WHERE Date = 9 September 2006

Text: What year had a race with 301* laps?
Pred SQL: <pad> SELECT Year FROM table WHERE Laps = 301*</s>
True SQL: SELECT Year FROM table WHERE Laps = 301*

Text: What are the Colt model numbers of the models named GAU-5A/A, with no bayonet lug, no case deflector and stock of 2nd generation?
Pred SQL: <pad> SELECT Colt model number FROM table WHERE Bayonet lug = no
True SQL: SELECT Colt model no. FROM table WHERE Bayonet Lug = No AND Stock = 2nd Generation AND Case deflector = No AND Name = GAU-5A/A

Text: Which Zone 2008 has Services of greater anglia, and a Station of cheshunt?
Pred SQL: <pad> SELECT Zone 2008 FROM table WHERE Services = greater anglia AND Station =
True SQL: SELECT Zone 2008 FROM table WHERE Services = greater anglia AND Station = cheshunt

Text: What is the team of the player who was previously on the indiana pacers?
Pred SQL: <pad> SELECT Team FROM table WHERE Previous team = indiana pacers</s>
True SQL: SELECT Team FROM table WHERE Previous team = indiana pacers

Text: When La Crescenta-Montrose has 66%, what is Tujunga?
Pred SQL: <pad> SELECT Tujunga FROM table WHERE La Crescenta-Montrose =
True SQL: SELECT Tujunga FROM table WHERE La Crescenta- Montrose = 66%

Text: Name the total number of golds when total is 1 and silver is 1
Pred SQL: <pad> SELECT COUNT Gold FROM table WHERE Total = 1 AND Silver = 1</s>
True SQL: SELECT COUNT Gold FROM table WHERE Total = 1 AND Silver = 1